<li class="chat-list__item{{#if active}} chat-list__item-active{{/if}}">
    <div class="chat-list__item-inner">
        <span class="chat-list__item-avatar">
            {{#if avatar}}
                <img src={{avatar}} alt="" />
            {{/if}}
        </span>
        <div class="chat-list__item-info">
            <h4 class="chat-list__item-name">{{name}}</h4>
            <div class="chat-list__item-copy">
                {{#if you}}
                    <span class="chat-list__item-copy-you">{{you}}</span>
                {{/if}}
                {{copy}}
            </div>
        </div>
        <div class="chat-list__item-meta">
            <span class="chat-list__item-time">{{time}}</span>
            {{#if badge}}
                <span class="chat-list__item-badge">{{badge}}</span>
            {{/if}}
        </div>
    </div>
</li>
