<div class="chat-message__item">
    {{#if pic}}
        <img src="{{pic}}" alt="" />
    {{else}}
        <div class="chat-message__copy">{{copy}}</div>
    {{/if}}
    {{#if status}}
        <span class="chat-message__status chat-message__status-{{status}}">{{status}}</span>
    {{/if}}
    <span class="chat-message__time">{{time}}</span>
</div>
